@import "./variables";

#root {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  color: $color;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgba(255, 255, 255, 0.87);
  color: $color;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
}

.app {
  display: flex;
  width: 100%;
}

.app-sidebar {
  width: 360px;
}

.app-content {
  flex-grow: 1;
  padding: 1rem;
}
